{% extends 'base.html' %}
{% load static %}
{% block title %} | About Me {% endblock %}
{% block content %}
    <div class="container makethh">
      <p>

        <img class="img-thumbnail mx-auto d-block" src="{% static 'edit2.jpg' %}" height="300" width="200">

      </p>
      <h3>About me</h3>
      <p>Hi I'm Haniel Craig Lobo. I'm from udupi, Karnataka.  I currently work in TCS, Bangalore.</p>

      <p>I have primarily built this site to document and keep a note of all my learnings. I plan to post atleast 3 blogs weekly.
         I will be mostly posting on topics related to python. </p>
<hr>
<h3>Skillsets</h3>
<ul>
  <li>python</li>
  <li>django</li>
  <li>Git</li>
  <li>unix</li>
  <li>SQL</li>
</ul>
<hr>
<h3>Projects</h3>
<ul>
  <li> <a href="https://github.com/hacralo/xkcd-scrapper">xkcd scrapper.</a></li>
  <li><a href="https://github.com/hacralo/wallpaper">Windows 7 background changing app.</a></li>
  <li><a href="https://github.com/hacralo/djangoMovieRatings">Django movies database app.</a></li>
  <li><a href="https://github.com/hacralo/pandas-finance">Data analysis using pandas.</a></li>
  <li><a href="https://github.com/hacralo/AutoTweetBot">Twitter bot.</a></li>
</ul>


<br>
<br>
    <p> For enquiries:   <a href="mailto:lobohaniel@gmail.com" target= "_blank" class="btn btn btn-outline-success text-center">Mail me!</a><br>
    </p></div>
{% endblock content %}
<!--
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
      	{% for job in jobs.all %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="{{ job.image.url }}"
            <div class="card-body">
              <p class="card-text"> {{ job.summary }}</p>
<!--               <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div> -->
            </div>
          </div>
        </div>
  		{% endfor %}
      </div>
    </div>
  </div>

</main> -->
